<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-address-heading" jhiTranslate="personApp.address.home.createOrEditLabel">Create or edit a Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personApp.address.streetAddress" for="field_streetAddress">Street Address</label>
                    <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                           formControlName="streetAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personApp.address.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personApp.address.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personApp.address.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" formControlName="updatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personApp.address.typeAddress" for="field_typeAddress">Type Address</label>
                    <select class="form-control" name="typeAddress" formControlName="typeAddress" id="field_typeAddress">
                        <option value="APARTMENT">{{'personApp.TypeAddress.APARTMENT' | translate}}</option>
                        <option value="COMMERCIAL">{{'personApp.TypeAddress.COMMERCIAL' | translate}}</option>
                        <option value="HOME">{{'personApp.TypeAddress.HOME' | translate}}</option>
                        <option value="OTHER">{{'personApp.TypeAddress.OTHER' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personApp.address.number" for="field_number">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personApp.address.complement" for="field_complement">Complement</label>
                    <input type="text" class="form-control" name="complement" id="field_complement"
                           formControlName="complement"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personApp.address.district" for="field_district">District</label>
                    <input type="text" class="form-control" name="district" id="field_district"
                           formControlName="district"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
