<div>
    <h2 id="page-heading">
        <span jhiTranslate="personApp.person.home.title">People</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person" [routerLink]="['/person/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="personApp.person.home.createLabel">
            Create a new Person
            </span>
        </button>
    </h2>

    <form>
        <div class="filter-wrapper">
            <input type="text" class="form-control" name="search" id="field_name" class="form-control bg-white"
                   (keyup)="loadAll()" [placeholder]="'global.search' | translate" [(ngModel)]="search"/>

<!--            <div>-->
<!--                <label class="control-label" jhiTranslate="global.field.date.from">From</label>-->
<!--                <input id="field_fromDate" type="datetime-local" class="form-control" name="fromDate" [value]="fromDate"-->
<!--                       placeholder="YYYY-MM-DD HH:mm" [(ngModel)]="dateFilter.fromDate" (onUpdate)="registerFromDateChange($event)"/>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label class="control-label" jhiTranslate="global.field.date.to">To</label>-->
<!--                <input id="field_toDate" type="datetime-local" class="form-control" name="toDate" [value]="toDate"-->
<!--                       placeholder="YYYY-MM-DD HH:mm" [(ngModel)]="dateFilter.toDate" (change)="registerToDateChange($event)"/>-->
<!--            </div>-->

            <div>
                <label class="control-label" jhiTranslate="personApp.person.sex" for="field_sex">Sex</label>
                <select class="form-control form-control-white" [(ngModel)]="selectedSex" name="sex" id="field_sex" (click)="changeTab(selectedSex)">
                    <option [ngValue]="null">{{'personApp.Sex.SELECT' | translate }}</option>
                    <option value="MALE">{{'personApp.Sex.MALE' | translate}}</option>
                    <option value="FEMALE">{{'personApp.Sex.FEMALE' | translate}}</option>
                </select>
            </div>

        </div>
    </form>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="people?.length === 0">
        <span jhiTranslate="personApp.person.home.notFound">No people found</span>
    </div>
    <div class="table-responsive" *ngIf="!loading && people?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.sex">Sex</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.email">Email</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.dateOfBirth">Date Of Birth</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.cpf">Cpf</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.createdAt">Created At</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.updatedAt">Updated At</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.naturalness">Naturalness</span></th>
            <th scope="col" ><span jhiTranslate="personApp.person.nationality">Nationality</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of people ;trackBy: trackId">
                <td><a [routerLink]="['/person', person.id, 'view' ]">{{person.id}}</a></td>
                <td>{{person.name}}</td>
                <td jhiTranslate="{{'personApp.Sex.' + person.sex}}">{{person.sex}}</td>
                <td>{{person.email}}</td>
                <td>{{person.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                <td>{{person.cpf}}</td>
                <td>{{person.createdAt | date:'dd/MM/yyyy'}}</td>
                <td>{{person.updatedAt | date:'dd/MM/yyyy'}}</td>
                <td>{{person.naturalness}}</td>
                <td>{{person.nationality}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/person', person.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person', person.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/person', { outlets: { popup: person.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="loading || people?.length === 0" class="mt-4">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
