<div class="row justify-content-center">
    <div>
        <div *ngIf="person">
            <h2><span jhiTranslate="personApp.person.detail.title">Person</span> {{person.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="personApp.person.name">Name</span></dt>
                <dd>
                    <span>{{person.name}}</span>
                </dd>
                <dt><span jhiTranslate="personApp.person.sex">Sex</span></dt>
                <dd>
                    <span jhiTranslate="{{'personApp.Sex.' + person.sex}}">{{person.sex}}</span>
                </dd>
                <dt><span jhiTranslate="personApp.person.email">Email</span></dt>
                <dd>
                    <span>{{person.email}}</span>
                </dd>
                <dt><span jhiTranslate="personApp.person.dateOfBirth">Date Of Birth</span></dt>
                <dd>
                    <span>{{person.dateOfBirth | date:'dd/MM/yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="personApp.person.cpf">Cpf</span></dt>
                <dd>
                    <span>{{person.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="personApp.person.createdAt">Created At</span></dt>
                <dd>
                    <span>{{person.createdAt | date:'dd/MM/yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="personApp.person.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{person.updatedAt | date:'dd/MM/yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="personApp.person.naturalness">Naturalness</span></dt>
                <dd>
                    <span>{{person.naturalness}}</span>
                </dd>
                <dt><span jhiTranslate="personApp.person.nationality">Nationality</span></dt>
                <dd>
                    <span>{{person.nationality}}</span>
                </dd>
            </dl>

            <br/>
            <h2 class="mt-3" jhiTranslate="personApp.address.detail.title"></h2>
            <br/>
            <div class="card p-30-40 mt-4 mb-5">
            <div class="table-responsive" *ngIf="addresses && addresses.length">
                <table class="table text-center">
                    <thead>
                        <th>
                            <span jhiTranslate="personApp.address.streetAddress">streetAddress</span>
                            <span class="fa fa-sort"></span>
                        </th>
                        <th>
                            <span jhiTranslate="personApp.address.postalCode">postalCode</span>
                        </th>
                        <th>
                            <span jhiTranslate="personApp.address.district">district</span>
                        </th>
                        <th>
                            <span jhiTranslate="personApp.address.number">number</span>
                        </th>
                        <th>
                            <span jhiTranslate="personApp.address.typeAddress">typeAddress</span>
                        </th>
                        <th>
                            <span jhiTranslate="personApp.city.detail.title">city</span>
                        </th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let address of addresses ;trackBy: trackId">
                        <td class="align-middle">{{address.streetAddress}}</td>
                        <td class="align-middle">{{address.postalCode}}</td>
                        <td class="align-middle">{{address.district}}</td>
                        <td class="align-middle">{{address.number}}</td>
                        <td class="align-middle" jhiTranslate="{{'personApp.TypeAddress.' + address.typeAddress}}">{{address.typeAddress}}</td>
                        <td class="align-middle">{{address.cityName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="!addresses || !addresses.length">
                <h5 jhiTranslate="personApp.address.detail.noAddress"></h5>
            </div>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person', person.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
